<p>
  The application has been authorized to access the account <%= ENV["GMAIL_ADDRESS"] %>
</p>
<p>
  No further action is required.
</p>
<p>
  <a href="<%= "/admin" %>">Go to administration dashboard</a>
</p>
