/* line 5, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
.flag {
  display: inline-block;
  width: 16px;
  height: 11px;
  vertical-align: middle;
  background: url(/assets/active_admin/flags-335a59b147ced1d2084c44eea351319239bd625a5f7bc155022e9943ef45cd51.png) no-repeat;
}
/* line 11, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
.flag.flag-ar {
  background-position: -16px 0;
}
/* line 13, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
.flag.flag-br {
  background-position: -32px 0;
}
/* line 15, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
.flag.flag-pt-BR {
  background-position: -32px 0;
}
/* line 17, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
.flag.flag-de {
  background-position: -48px 0;
}
/* line 19, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
.flag.flag-es {
  background-position: 0 -11px;
}
/* line 21, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
.flag.flag-fr {
  background-position: -16px -11px;
}
/* line 23, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
.flag.flag-gb {
  background-position: -32px -11px;
}
/* line 25, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
.flag.flag-hu {
  background-position: -48px -11px;
}
/* line 27, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
.flag.flag-it {
  background-position: 0 -22px;
}
/* line 29, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
.flag.flag-pt {
  background-position: -16px -22px;
}
/* line 31, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
.flag.flag-pt-PT {
  background-position: -16px -22px;
}
/* line 33, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
.flag.flag-tr {
  background-position: -32px -22px;
}
/* line 35, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
.flag.flag-en {
  background-position: -48px -22px;
}
/* line 37, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
.flag.flag-he {
  background-position: 0 -33px;
}

/* line 41, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
span.inline-locale-selector {
  margin-right: 10px;
}
/* line 43, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
span.inline-locale-selector > .ui-translation-trigger {
  opacity: 0.4;
}
/* line 45, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
span.inline-locale-selector > .ui-translation-trigger.empty {
  filter: grayscale(100%);
}
/* line 47, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
span.inline-locale-selector > .ui-translation-trigger.active {
  opacity: 1;
}

/* line 50, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
.field-translation.hidden {
  display: none;
}

/* line 53, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
ul.locale-selector {
  margin-bottom: 0 !important;
}

/* line 56, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
div.field-translation {
  padding: 10px 10px;
  box-shadow: inset 0 -40px 40px #ddd;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  background-clip: padding-box;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-clip: padding-box;
  min-height: 80px;
}

/* line 64, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize_flags.sass */
span.field-translation.empty {
  vertical-align: bottom;
}

/* line 6, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations {
  margin-bottom: 20px;
}
/* line 9, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul {
  position: relative;
  top: 4px;
  padding: 0 10px;
}
/* line 14, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul > li {
  display: inline-block;
}
/* line 17, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul > li > a {
  display: inline-block;
  color: #666;
  margin-right: 3px;
  text-decoration: none;
  font-size: 17px;
  padding: 8px 15px;
  padding-bottom: 12px;
  margin-bottom: 0;
  position: relative;
}
/* line 28, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul > li > a.error {
  color: #932419;
}
/* line 31, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul > li > a.active {
  background: #f4f4f4;
  box-shadow: inset 0 4px 4px #ddd;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  background-clip: padding-box;
  margin-bottom: 0;
  background-color: #dfe1e2;
  background-image: linear-gradient(180deg, #dfe1e2, #f4f4f4);
  text-shadow: 0 1px 0 white;
  color: #666 !important;
}
/* line 40, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul > li > a > span {
  font-size: 0.75em;
  font-weight: bold;
  position: absolute;
  top: 2px;
  right: 4px;
  display: none;
}
/* line 48, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul > li > a > span:hover {
  text-shadow: red 1px 1px 2px;
}
/* line 52, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul > li > a:hover span {
  display: block;
}
/* line 55, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul > li > a:hover span.hidden {
  display: none;
}
/* line 58, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul > li.add-locale {
  font-weight: bold;
  position: relative;
  z-index: 100;
}
/* line 63, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul > li.add-locale > ul {
  display: none;
  font-size: 17px;
  font-weight: normal;
  padding: 0;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-clip: padding-box;
  position: absolute;
  box-shadow: 3px 3px 5px #aaa;
  background: #f4f4f4;
  z-index: 100;
}
/* line 74, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul > li.add-locale > ul > li {
  font-size: 17px;
  padding: 8px 15px;
  padding-bottom: 12px;
  margin-bottom: 0;
}
/* line 80, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul > li.add-locale > ul > li:hover {
  background: #ddd;
  background: -webkit-linear-gradient(left, #dfe1e2, #f4f4f4);
  background: -moz-linear-gradient(left, #dfe1e2, #f4f4f4);
  background: linear-gradient(left, #dfe1e2, #f4f4f4);
}
/* line 86, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul > li.add-locale > ul > li > a {
  text-decoration: none;
  color: #666;
}
/* line 90, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul > li.add-locale > ul > li:first-child {
  border-top-right-radius: 4px;
}
/* line 93, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul > li.add-locale:hover {
  background: #f4f4f4;
  box-shadow: inset 0 4px 4px #ddd;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  background-clip: padding-box;
  margin-bottom: 0;
  background-color: #dfe1e2;
  background-image: linear-gradient(180deg, #dfe1e2, #f4f4f4);
  text-shadow: 0 1px 0 white;
  color: #666 !important;
}
/* line 102, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > ul > li.add-locale:hover > ul {
  display: block;
}
/* line 106, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > fieldset.inputs {
  margin-bottom: 0;
}
/* line 109, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > fieldset.inputs ol {
  padding-left: 0;
  width: 100%;
}
/* line 113, /usr/local/lib/ruby/gems/2.3.0/gems/activeadmin-globalize-1.0.0.pre/app/assets/stylesheets/active_admin/active_admin_globalize.sass */
.active_admin .activeadmin-translations > fieldset.inputs li.hidden {
  padding: 0 !important;
}
