<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      body {
        font-family: Helvetica, Arial, sans-serif;
      }
      .applications-details-heading {
        font-size: 1.2em;
        font-weight: bold;
      }
      .application-details-list {
        list-style-type: circle;
      }
      .notice {
        font-size: .8em;
      }
    </style>
  </head>
  <body>
    <p>
      Dear <%= @person.full_name %>,
    </p>
    <p>
      Your application to CERC Data Science has been received. You will be hearing
      from us shortly.
    </p>
    <h1 class="applications-details-heading">Application Details</h6>
    <ul class="application-details-list">
      <li>Position: <%= @application.position.title %></li>
      <li>Starting on: <%= @application.starting_semester %></li>
    </ul>
    <p>
      Sincerely,
      <br />
      CERC Recruitment Team
    </p>
    <p class="notice">
      Please do not reply to this message.
    </p>
  </body>
</html>
