<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Dear Administrator,
    </p>
    <p>
      The recruitment application for CERC Data Science needs permission to access your Gmail account's data.
    </p>
    <p>
      Please navigate to /#/admin/application in order to grant the necessary permission. Until then
      users of the recruitment form will be unable to submit applications.
    </p>
    <p>
      Thanks!
    </p>
  </body>
</html>
