@import "normalize.css";

html {
  font-size: 16px;
}

html, body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 960px;
  margin: auto;
}

.information h1 {
  text-align: center;
}

.information p {
  line-height: 1.4em;
  margin: 15px 10%;
}
