@import "normalize.css";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 960px;
  margin: auto;
}

button {
  background-color: white;
  padding: 15px;
  border: 1px solid black;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
  &.remove {
    width: 1.7em;
    height: 1.7em;
    padding: 2px;
    border: none;
    border-radius: 50%;
    background-color: black;
    color: white;
  }
  &.submit {
    width: 20em;
    margin: auto;
    display: block;
    &.--disabled {
      cursor: default;
      border-color: gray(50%);
      color: gray(50%);
    }
    &.--disabled:hover {
      text-decoration: none;
    }
  }
}

input {
  padding: .5em;
}

input[type="file"] {
  color: transparent;
}

select {
  display: inline-block;
  padding: .5em;
  width: 20em;
  background-color: white;
}
