@import "./variables.css";

.application-information {
  margin: 15px 10%;
  padding-bottom: 3em;
  border-bottom: 1px solid black;
  & h1 {
    font-weight: 600;
    color: var(--headerColor);
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  & p {
    font-size: .9em;
    line-height: 1.7;
    color: var(--paragraphColor);
  }

}
