@import "./variables.css";

.tables {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  overflow-x: hidden;
  margin: 0.5em;

  /* table {
    margin: 10px 0;
  } */
  /* & table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }

  & th, td {
    padding: var(--cellPadding)px;
    font-family: var(--textFamily);
  }

  & th {
    height: 55px;
  } */

  /* & .names-table {
    position: absolute;
    background-color: white;
    z-index: 4;

    & tr:first-of-type {
      & th {
        border-top: 1px solid black;
      }
    }

    & tr:last-of-type {
      & td {
        border-bottom: 1px solid black;
      }
    }

    & th, td {
      border: 1px solid white;
      background-color: color(var(--themeColor) tint(40%));
    }

    & td .cell-display {
      width: var(--nameCellWidth)em;
    }

  } */
/*
  & .selection-box {
    width: calc(var(--cellWidth)*var(--selectionBoxRatio))em;
    max-width: calc(var(--cellWidth)*var(--selectionBoxRatio))em;
    text-align: center;
    & input {
      width: auto;
    }
    & button {
      text-transform: none;
      padding: 0;
    }
    & select {
      width: 100%;
      font-size: .8em;
      border: none;
    }
  } */

  /* & .header span {
    display: inline-block;
    padding: .5em;
    background-color: white;
  } */

  & .dynamic-table {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  /* & .names-table, & .profiles-table {
    & td.--invalid {
        background-color: var(--errorColor);
    }
  } */

  /* & tr.--selected, & tr.--selected td {
    background-color: var(--highlightColor);
  } */
}
