@import "./variables.css";

:root {
  --currentColor: color(var(--themeColor) tint(80%));
  --nameCellColor: color(var(--themeColor) tint(40%));
}

.tables {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  overflow-x: hidden;
  margin: 0.5em;
}

.table {

  & .row {
    display: flex;
    &.--selected .cell, &.--selected .name-cell {
      background-color: var(--selectHighlightColor);
    }
  }

  & .cell {
    min-width: var(--cellWidth)em;
    width: var(--cellWidth)em;
    height: var(--cellHeight)px;
    border: .5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    &.--invalid {
      background-color: var(--errorColor);
    }
    &.--current {
      background-color: var(--currentColor);
    }
    &.name-cell {
      border: .5px solid white;
      background-color: var(--nameCellColor);
    }
  }

  & .table-head {
    position: fixed;
    .cell {
      min-height: var(--cellMinHeight)px;
      margin: 0 auto;
      text-align: center;
      font-weight: bold;
      background-color: white;
      &.--current {
        background-color: var(--currentColor);
      }
    }
  }

  &.names-table {
    position: absolute;
    background-color: white;
    z-index: 4;
    & .table-head {
      & .cell {
        background-color: var(--nameCellColor);
      }
    }
    & .table-body {
      & .row:last-of-type {
        & .name-cell {
          border-bottom: .5px solid black;
        }
      }
    }
    & .row:first-of-type {
      & .name-cell {
        border-top: .5px solid black;
      }
    }
    & .cell.selection-box {
      min-width: calc(var(--cellWidth)*var(--selectionBoxRatio))em; /*include to override another rule*/
      max-width: calc(var(--cellWidth)*var(--selectionBoxRatio))em;
      text-align: center;
      & input {
        width: auto;
      }
      & select {
        width: 90%;
        font-size: .8em;
        border: none;
      }
    }
  }
}

.dynamic-table {
  overflow-x: scroll;
  overflow-y: hidden;
}
