@import "./variables.css";

:root {
  --currentColor: color(var(--themeColor) tint(80%));
  --nameCellColor: color(var(--themeColor) tint(40%));
  --borderColor: #444444;
  --rejectedColor: #f39d9d;
  --inactiveColor: #c3c7c6;
}

.tables {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  overflow-x: hidden;
}

.table {

  & .row {
    display: flex;
    &.--selected .cell, &.--selected .name-cell {
      background-color: var(--selectHighlightColor);
      &.--invalid {
        background-color: var(--errorColor);
      }
    }
  }

  & .cell {
    min-width: var(--cellWidth)em;
    width: var(--cellWidth)em;
    height: var(--cellHeight)px;

    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: var(--borderColor);

    display: flex;
    align-items: center;
    justify-content: center;


    &.--invalid {
      background-color: var(--errorColor);
    }
    &.--current {
      background-color: var(--currentColor);
    }
    &.name-cell {
      border: 1px solid white;
      background-color: var(--nameCellColor);
      &.--invalid {
        background-color: var(--errorColor);
      }
      &.--rejected {
        background-color: var(--rejectedColor);
      }
      &.--inactive {
        background-color: var(--inactiveColor);
      }
    }
  }

  & .table-head {
    position: fixed;
    .cell {
      min-height: var(--cellMinHeight)px;
      margin: 0 auto;
      text-align: center;
      font-weight: bold;
      background-color: white;
      &.--current {
        background-color: var(--currentColor);
      }
    }
  }

  & .table-body {
    & .row:last-of-type {
      & .cell {
        border-bottom: 1px solid var(--borderColor);
      }
    }
  }
  & .row:first-of-type {
    & .name-cell {
      border-top: 1px solid var(--borderColor);
    }
  }

  &.names-table {
    position: absolute;
    background-color: white;
    z-index: 4;
    & .table-head {
      & .cell {
        background-color: var(--nameCellColor);
      }
    }
    & .cell.selection-box {
      min-width: calc(var(--cellWidth)*var(--selectionBoxRatio))em; /*include to override another rule*/
      max-width: calc(var(--cellWidth)*var(--selectionBoxRatio))em;
      text-align: center;
      & input {
        width: auto;
      }
      & select {
        width: 90%;
        font-size: .8em;
        border: none;
      }
    }
  }
}

.dynamic-table {
  overflow-x: scroll;
  overflow-y: hidden;
}
