:root {
  /* global */
  --themeColor: #00a668;
  --textFamily: 'Open Sans', Arial, sans-serif;
  --textColor: gray(20);
  --windowHeight: 400;
  --navColor: #4490ce;
  --fieldsBoxShadow: -1px 1px 2px;
  --paragraphColor: #767676;
  --cardBg: #fafafa;
  --navHeight: 8;
  --headerColor: #292929;
  --errorColor: #ff6a6a;

  /* profiles and timeline */
  --cellWidth: 15;
  --cellHeight: 55;
  --cellMinHeight: 40;
  --cellMaxHeight: 62;
  --cellPadding: 10;
  --nameCellWidth: 12;
  --profilesSidebarOffset: 16;
  --menuSpace: 3;
  --profilesSidebarWidth: calc(var(--profilesSidebarOffset)+var(--menuSpace));
  --selectionBoxRatio: 0.55;
}
