:root {
  --themeColor: #00a668;
  --textFamily: 'Open Sans', Arial, sans-serif;
  --textColor: gray(20);
  --windowHeight: 400;
  --navColor: #4490ce;
  --fieldsBoxShadow: -1px 1px 2px;
  --paragraphColor: #767676;
  --cardBg: #fafafa;
  --navHeight: 8;
  --headerColor: #292929;
  --errorColor: #ff6a6a;
  --cellWidth: 15;

  --field-style: {
    display: flex;
    min-width: 130px;
    min-height: 40px;
    overflow-y: auto;
  }
  --field-cell-style: {
    height: 100%;
    min-height: 1.5em;
    max-height: 40px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    & .cell-display {
      min-height: 1.5em;
      width: var(--cellWidth)em;
      display: inline-block;
    }
    & select {
      min-width: 100%;
      width: var(--cellWidth)em;
    }
  }
}
