:root {
  --themeColor: #00a668;
  --textFamily: 'Open Sans', Arial, sans-serif;
  --textColor: gray(20);
  --windowHeight: 400;
  --navColor: #4490ce;
  --fieldsBoxShadow: -1px 1px 2px;
  --paragraphColor: #767676;
  --cardBg: #fafafa;
  --navHeight: 8;
  --headerColor: #292929;

  --field-style: {
    display: flex;
    min-width: 130px;
    height: 100%;
    text-align: center;
    overflow-y: hidden;
  }
  --field-cell-style: {
    height: 100%;
    max-height: 80px;
    margin: 0 auto;
  }
}
